@media only screen and (max-width: 950px) {
  :host {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 950px) {
  :host {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
